

        .section__home-hero,
        .section__automation-features,
        .section__testimonials {
            position: relative;
        }

        .section__home-hero canvas,
        .section__automation-features canvas,
        .section__testimonials canvas {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        .section__home-hero canvas {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        }

        .section__home-hero canvas.visible {
            opacity: 1;
            visibility: visible;
        }

        @media only screen and (max-width: 991px) {
            .section__home-hero canvas.visible,
            .section__automation-features canvas,
            .section__testimonials canvas {
                opacity: 0.8;
                visibility: visible;
            }
        }

        .section__home-hero .blur,
        .section__automation-features .blur,
        .section__testimonials .blur {
            font-size: 62.5% !important;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-backdrop-filter: blur(clamp(3.5em, calc(3.5em + ((1vw - 0.48em) * 4.5139)), 10em));
            backdrop-filter: blur(clamp(3.5em, calc(3.5em + ((1vw - 0.48em) * 4.5139)), 10em));
        }

        /* Reply Message */

        .product__chat-item:nth-child(1),
        .product__chat-item:nth-child(2),
        .product__chat-item:nth-child(3) {
            opacity: 0;
            visibility: hidden;
            transform: translateY(25%);
        }

        /* Personas Tabs */

        .persona__tab-link a {
            pointer-events: none;
        }

        /* Metrics */

        .metric-nums-container {
            font-size: 62.5% !important;
            column-gap: clamp(1.6em, calc(1.6em + ((1vw - 0.48em) * 1.1111)), 3.2em);
        }

        .metric-num .metric-svg {
            width: 100%;
            height: 100%;
            overflow: visible;
            transform: perspective(1000px)
        }

        .metric-num .metric-svg g[mask] path {
            opacity: 0;
            visibility: hidden;
        }

        /* Use Case */

        .use-case-one__img-one {
            aspect-ratio: 160/227;
        }

        .use-case__visual-shoes {
            aspect-ratio: 275/299;
        }

        .use-case__visual-tea {
            aspect-ratio: 346/378;
        }

        /* Tracking */

        .svg-tracking {
            width: 100%;
            height: 100%;
        }

        .svg-tracking .lines path {
            opacity: 0;
            visibility: hidden;
            stroke-dasharray: 0 31;
            stroke-dashoffset: -16;
        }

        .tracking-icon-wrapper {
            pointer-events: none;
        }

        .tracking-icon-wrapper img {
            width: 100%;
            height: auto;
        }

        /* Chat Bubbles */

        [data-case-chat] {
            opacity: 0;
            visibility: hidden;
        }

        /* Integrates */

        .integration-svg g:not(.integration-logo) {
            opacity: 0;
            visibility: hidden;
        }

        .integration-icon {
            --size: clamp(3.2em, calc(3.2em + ((1vw - 0.48em) * 2.2222)), 6.4em);
            font-size: 62.5% !important;
            border-radius: 50px;
            width: var(--size);
            height: var(--size);
            box-shadow: 0.7598px 3.03922px 19.7549px 0px rgba(60, 60, 60, 0.18);
            overflow: hidden;
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }

        .integration-icon img {
            width: 100%;
            height: auto;
            opacity: 0;
            visibility: hidden;
            border-radius: 50px;
        }

        .circles-integration g:not(.integration-logo) {
            visibility: hidden;
            opacity: 0;
        }

        /* Persona tabs */

        .product-three__visual-wrap:hover {
            cursor: none;
        }

        /* Testimonials tabs */

        .testimonials-tabs__col-item.w-inline-block.w-tab-link .testimonials__logo {
            opacity: 0.2;
        }

        .testimonials-tabs__col-item.w-inline-block.w-tab-link .testimonials__logo:hover {
            opacity: 0.4;
        }

        .testimonials-tabs__col-item.w-inline-block.w-tab-link.w--current .testimonials__logo {
            opacity: 1;
        }

        .testimonials-tabs__col-item.w-inline-block.w-tab-link.w--current .testimonial__progress-line {
            background: linear-gradient(90deg, rgba(254, 125, 194, 0.00) 0%, #FE7DC2 50%, rgba(254, 125, 194, 0.00) 100%);
        }

        /* Use cases Form */

        .use-cases__checkbox-field.w-radio:has(.w-form-formradioinput.w-form-formradioinput--inputType-custom.use-cases__checkbox.w-radio-input.w--redirected-checked) {
            color: white;
        }



        ::selection {
            background: #D9FF0F;
            color: #000000;
            text-shadow: none;
            -webkit-text-fill-color: #000;
        }

        body {
            overflow-x: hidden;
        }

        /* Form */

        form .form__field {
            outline: none;
        }

        /*Body no scroll on Menu and Modal open - (the class o.hidden will be toggled from the global script)*/

        .o-hidden {
            overflow: hidden !important;
        }

        .mobile__menu-wrapper.is--open {
            /*this is the class of the links wrapper. It must be 100vh*/
            overflow-y: auto !important;
            overflow-x: hidden !important;
        }

        /*Prevent flashesh on load*/

        [text-split] {
            opacity: 0;
        }

        html.w-editor [text-split] {
            opacity: 1;
        }

        @media screen and (min-width: 991px) {
            [no-flash] {
                opacity: 0;
            }
        }

        @media screen and (min-width: 991px) {
            html.w-editor [no-flash] {
                opacity: 1;
            }
        }

        .word {
            overflow: hidden;
            padding-bottom: 0.1em;
            margin-bottom: -0.1em;
            transform-origin: bottom;
        }

        /*Swiper JS*/

        .slider-main_button.swiper-next.is-disabled {
            opacity: 0.3;
            pointer-events: none;
        }

        .slider-main_button.swiper-prev.is-disabled {
            opacity: 0.3;
            pointer-events: none;
        }

        /* Accordion */

        .accordion_trigger .p-body,
        .accordion__close-btn {
            pointer-events: none;
        }
    
        @media (min-width:992px) {
            html.w-mod-js:not(.w-mod-ix) [data-w-id="73f239dc-9093-5ef8-deb2-ba160614a01c"] {
                -webkit-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="e0439827-699c-8220-f6c2-142623a0cd8e"] {
                -webkit-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="d7fffaed-4220-86e5-5f2f-70e7132efbb3"] {
                -webkit-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="92eb76c2-68dc-2850-29b7-0352481c65b4"] {
                -webkit-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="3b65d54f-72fa-8c59-4f31-7fd558c31017"] {
                -webkit-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 1;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="cc30326a-169e-1230-199e-eebb8d01f224"] {
                -webkit-transform: translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 16px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="fa0f3f13-4ba4-9baf-ea7d-acf0d3274fd8"] {
                -webkit-transform: translate3d(-16px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(-16px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(-16px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(-16px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="64026c0a-fd9e-aec2-80ec-70574ae3a9d3"] {
                opacity: 0;
                -webkit-transform: translate3d(-16px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(-16px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(-16px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(-16px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="fa0f3f13-4ba4-9baf-ea7d-acf0d3274fd6"] {
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="fa0f3f13-4ba4-9baf-ea7d-acf0d3274fd7"] {
                width: 0px;
                height: 0px;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="64026c0a-fd9e-aec2-80ec-70574ae3a9d1"] {
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="64026c0a-fd9e-aec2-80ec-70574ae3a9d2"] {
                width: 0px;
                height: 0px;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="d401901b-2db5-4cf1-69fa-f63f5837024e"] {
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="339a3c2d-2de3-524a-132e-8b3d7f5e3dec"] {
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="e2c08f94-9c8d-d6d5-0d91-c0b8f943766f"] {
                -webkit-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="c07a5c55-6d23-121f-dc54-bd50e5e06185"] {
                -webkit-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="969f55a8-ad31-ea88-899c-f6821d14cb6a"] {
                -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a661"] {
                -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="49aa8633-1c9b-6249-f5cf-3e9e532b498e"] {
                -webkit-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="49aa8633-1c9b-6249-f5cf-3e9e532b499a"] {
                -webkit-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="49aa8633-1c9b-6249-f5cf-3e9e532b49be"] {
                -webkit-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="3fae8087-ada6-1a17-82b4-4557b8ebf362"] {
                -webkit-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
        }

        @media (max-width:991px) and (min-width:768px) {
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a64f"] {
                -webkit-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a65b"] {
                -webkit-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="969f55a8-ad31-ea88-899c-f6821d14cb6a"] {
                -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a661"] {
                -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a655"] {
                -webkit-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a663"] {
                -webkit-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a669"] {
                -webkit-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
        }

        @media (max-width:767px) and (min-width:480px) {
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a64f"] {
                -webkit-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a65b"] {
                -webkit-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="969f55a8-ad31-ea88-899c-f6821d14cb6a"] {
                -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a661"] {
                -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a655"] {
                -webkit-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a663"] {
                -webkit-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a669"] {
                -webkit-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
        }

        @media (max-width:479px) {
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a64f"] {
                -webkit-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a65b"] {
                -webkit-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="969f55a8-ad31-ea88-899c-f6821d14cb6a"] {
                -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a661"] {
                -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(7deg) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a655"] {
                -webkit-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a663"] {
                -webkit-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="29069347-451a-c306-63b1-e35e51c4a669"] {
                -webkit-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(40px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
            }
        }
    